// Our overrides for settings we want to change.
@import 'overrides';

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main-v1';

// Show site status on all pages
.site-status {
  display: block; 
}

// Inline footer
footer#footer-openedx {
  .social-media-links,
  .mobile-app-links {
      @extend %ui-no-list;
      
      .list-item {
          display: inline-block;
      }
  }

  .mobile-app-links {
    @include clearfix();
    position: relative;
    width: 260px;
    height: 42px;
  }

  .social-media-links {
    @include clearfix();
    margin-bottom: 30px;
  }

  @include media( $edx-bp-large ) {
    .social-media-links,
    .mobile-app-links {
      @include float(right);
    }

    .social-media-links {
      margin-bottom: 40px;
    }
  }

  @include media( $edx-bp-huge ) {
    .external-links {
      @include span-columns(4);
    }

    .social-media-links {
      margin-bottom: 50px;
    }
  }
}
.header-global {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

	h1.logo {
		margin-top: -8px;
	}
}

.header-global.slim {
// Keep user element from being pushed down
	.course-header {
		width: 45%;
	}

// Get down | pipe
	&:before {
	  top: 3px;
	}

// Get down course title
	h2 {
	    margin-top: 12px;
	}

	img {
		vertical-align: baseline;
	}
}

// Change about page design to more modern
.course-info {
	header.course-profile {
		padding-top: 0;
		box-shadow: none;
    	border-bottom: 1px solid #cacaca;
    	height: 250px;

	    .intro-inner-wrapper {
	    	box-shadow: none;
	    	border: 0;
	    	border-bottom: 1px solid #cacaca;
	    	padding-top: 8px;

        .media .hero {
          padding: 4px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
		}
	}
}

// Modernize home
.home {
	> header {
	    background: white;
	    box-shadow: none;
	    height: 200px;

	    .title {
		    box-shadow: none;
		    border-radius: 6px;
		    border: 1px solid #ddd;
    	}
    }

    .courses-container {
    	padding-bottom: 50px;
    }

    .highlighted-courses .courses {
      padding: 0px 0 15px; // Take away top padding
    }
}

// Disable button shinyness (eww)
// From edx-platform/common/static/sass/bourbon/addons/_button.scss
@mixin shiny($base-color, $grayscale: false, $textsize: inherit, $padding: 7px 18px) {
  $color:         hsl(0, 0, 100%);
  $border:        adjust-color($base-color, $red: -117, $green: -111, $blue: -81);
  $border-bottom: adjust-color($base-color, $red: -126, $green: -127, $blue: -122);
  $fourth-stop:   adjust-color($base-color, $red: -79,  $green: -70,  $blue: -46);
  $inset-shadow:  adjust-color($base-color, $red:  37,  $green:  29,  $blue:  12);
  $second-stop:   adjust-color($base-color, $red: -56,  $green: -50,  $blue: -33);
  $text-shadow:   adjust-color($base-color, $red: -140, $green: -141, $blue: -114);
  $third-stop:    adjust-color($base-color, $red: -86,  $green: -75,  $blue: -48);

  @if is-light($base-color) {
    $color:       hsl(0, 0, 20%);
    $text-shadow: adjust-color($base-color, $saturation: 10%, $lightness: 4%);
  }

  @if $grayscale == true {
    $border:        grayscale($border);
    $border-bottom: grayscale($border-bottom);
    $fourth-stop:   grayscale($fourth-stop);
    $inset-shadow:  grayscale($inset-shadow);
    $second-stop:   grayscale($second-stop);
    $text-shadow:   grayscale($text-shadow);
    $third-stop:    grayscale($third-stop);
  }

  border: 1px solid transparent;
  border-radius: 4px;
  // border-bottom: 1px solid $border-bottom;
  // border-radius: 5px;
  box-shadow: inset 0 1px 0 0 $inset-shadow;
  color: $color;
  display: inline-block;
  font-size: $textsize;
  font-weight: bold;
  // @include linear-gradient(top, $base-color 0%, $second-stop 50%, $third-stop 50%, $fourth-stop 100%);
  padding: $padding;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px $text-shadow;

  &:hover:not(:disabled) {
    $first-stop-hover:  adjust-color($base-color, $red: -13, $green: -15, $blue: -18);
    $second-stop-hover: adjust-color($base-color, $red: -66, $green: -62, $blue: -51);
    $third-stop-hover:  adjust-color($base-color, $red: -93, $green: -85, $blue: -66);
    $fourth-stop-hover: adjust-color($base-color, $red: -86, $green: -80, $blue: -63);

    @if $grayscale == true {
      $first-stop-hover:  grayscale($first-stop-hover);
      $second-stop-hover: grayscale($second-stop-hover);
      $third-stop-hover:  grayscale($third-stop-hover);
      $fourth-stop-hover: grayscale($fourth-stop-hover);
    }

    cursor: pointer;
    // @include linear-gradient(top, $first-stop-hover  0%,
    //                               $second-stop-hover 50%,
    //                               $third-stop-hover  50%,
    //                               $fourth-stop-hover 100%);
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    $inset-shadow-active: adjust-color($base-color, $red: -111, $green: -116, $blue: -122);

    @if $grayscale == true {
      $inset-shadow-active: grayscale($inset-shadow-active);
    }

    box-shadow: inset 0 0 20px 0 $inset-shadow-active;
  }
}
