// Our overrides for settings we want to change.
@import 'overrides';

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main-v1';

// Show site status on all pages
.site-status {
  display: block; 
}

// Inline footer
footer#footer-openedx {
  .social-media-links,
  .mobile-app-links {
      @extend %ui-no-list;
      
      .list-item {
          display: inline-block;
      }
  }

  .mobile-app-links {
    @include clearfix();
    position: relative;
    width: 260px;
    height: 42px;
  }

  .social-media-links {
    @include clearfix();
    margin-bottom: 30px;
  }

  @include media( $edx-bp-large ) {
    .social-media-links,
    .mobile-app-links {
      @include float(right);
    }

    .social-media-links {
      margin-bottom: 40px;
    }
  }

  @include media( $edx-bp-huge ) {
    .external-links {
      @include span-columns(4);
    }

    .social-media-links {
      margin-bottom: 50px;
    }
  }
}
.header-global {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

	h1.logo {
		margin-top: -8px;
	}
}

.header-global.slim {
// Keep user element from being pushed down
	.course-header {
		width: 45%;
	}

// Get down | pipe
	&:before {
	  top: 3px;
	}

// Get down course title
	h2 {
	    margin-top: 12px;
	}

	img {
		vertical-align: baseline;
	}
}

// Change about page design to more modern
.course-info {
	header.course-profile {
		padding-top: 0;
		box-shadow: none;
    	border-bottom: 1px solid #cacaca;
    	height: 250px;

	    .intro-inner-wrapper {
	    	box-shadow: none;
	    	border: 0;
	    	border-bottom: 1px solid #cacaca;
	    	padding-top: 8px;
		}
	}
}

// change home
.home header {
    background: white;
    box-shadow: none;
    height: 200px;

    .title {
	    box-shadow: none;
	    border-radius: 6px;
	    border: 1px solid #ddd;
    }
}