<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Impressum</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Impressum</h1>
		<h4 class="hx">Anschrift</h4>
		<p>Technische Universität München<br>
			Arcisstraße 21<br>
			80333 München<br>
			Telefon: +4989289-01</p>

		<h4 class="hx">Vertretungs­berechtigt</h4>
		<p>Die Technische Universität München ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch den Präsidenten, Prof. Dr. Dr. h.c.  mult. Wolfgang A. Herrmann.</p>

		<h4 class="hx">Zuständige Aufsichtsbehörde</h4>
		<p>Bayerisches Staatsministerium für Bildung und Kultus, Wissenschaft und Kunst</p>

		<h4 class="hx">Umsatzsteuer­identifikations­nummer</h4>
		<p>DE811193231</p>

		<div id="c189"><h4 class="hx">Inhaltlich verantwortlich</h4><p>Prof. Dr. rer. nat. Kristina Reiss<br> Arcisstr. 21<br> 80333 München<br> E-Mail: kristina.reiss(at)tum.de</p></div>

		<h4 class="hx">Technische Umsetzung</h4>
		<p>Diese Webseite basiert auf einem <a href="https://github.com/TeachAtTUM/edx-platform">Fork</a> der <a href="https://open.edx.org">Open edX</a>® Software. </p>
		<p class="bodytext"><em><b>Technischer</b></em> Ansprechpartner für dieses Angebot ist  Bert Krohn - erreichbar unter <a href="mailto:bert.krohn@tum.de" title="per E-Mail">bert.krohn@tum.de</a>.</p>

		<h4 class="hx">Haftungshinweis</h4>
		<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
		<p class="bodytext">Namentlich gekennzeichnete Beiträge in den  Diskussions­bereichen geben die Meinung des Autors wieder. Für die  Inhalte der Beiträge sind ausschließlich die Autoren zuständig.</p>
    </section>
</main>
